doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="author" content="Krzysztof Piatkowski")
    title Krzysztof Piatkowski's resume    
  body
  #container
    include introduction
    include projects
    include skills
