.page#introduction
  img(src=require('../images/self-thumb.png'))
  #headline
    h1 Krzysztof Piatkowski
    h2 Software developer
    | Software developer with more then 10 years of experience.

  ul#contacts
    li
      a(href='mailto:kr.piatkowski@gmail.com')
        | kr.piatkowski@gmail.com
        .icon-container
          i.icon.ion-ios-mail
    li
      | +45 50 76 11 33
      .icon-container
        i.icon.ion-ios-call
    li
      a(href='https://www.google.com/maps/place/Esbjerg/@55.5224398,8.3233972,11z/data=!3m1!4b1!4m5!3m4!1s0x464b20a619e30ce9:0xdde847ab4e4ae9d1!8m2!3d55.476466!4d8.459405' target='_blank')
        | Esbjerg, Denmark
        .icon-container
          i.icon.ion-ios-pin
    li
      a(href='https://www.linkedin.com/in/krzysztof-piatkowski-5b6b9b31/' target='_blank')
        | Linkedin
        .icon-container
          i.icon.ion-logo-linkedin