.page#skills
  h1 SKILLS
  .columns
    for skill in htmlWebpackPlugin.options.data.skills
      h2=skill.header
      .row
        for category in skill.categories
          .column
            .flat-list
              h4=category.title
              ul
                for item in category.items
                  li=item
