@import "constants";

#header {
  display: flex;
  margin-bottom: 2em;
  flex-wrap: wrap;

  .left {
    display: flex;
    flex: 1;

    img {
      clip-path: circle(50% at 50% 50%);
      width: 20em;
      height: 20em;
      max-width: 20em;
      max-height: 20em;
      margin-right: 1em;
    }

    .brief {
      display: flex;
      flex-direction: column;
      flex: 1;
      white-space: nowrap;
      h2 {
        margin-bottom: 1em;
      }
    }
  }

  .right {
    margin-top: 1em;
    display: flex;
    flex-flow: column;

    ul {
      color: $color1;

      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      white-space: nowrap;

      li {
        display: flex;
        margin: 0.2em 0em;
      }

      .icon-container {
        display: flex;
        width: 0.5em;
        margin-left: 0.5em;
      }
    }
  }
}
