@import "constants";

#introduction {
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;

  img {
    clip-path: circle(50% at 50% 50%);
    width: 20em;
    height: 20em;
    max-width: 20em;
    max-height: 20em;
    margin-right: $margin;
  }

  #headline {
    display: flex;
    flex-direction: column;
    width: 80%;

    h1 {
      font-size: 4 * $fontsize;
      text-transform: uppercase;
    }

    .titles {
      display: flex;
      margin-bottom: 1em;
      h3 {
        font-size: $fontsize;
        margin: 0 1em 0 0;
        padding: 0;
        width: auto;
        text-transform: uppercase;
      }
    }
  }

  #contacts {
    position: absolute;
    right: 0;
    top: 0;
    color: $color4;

    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    white-space: nowrap;

    li {
      display: flex;
      margin: 0.2em 0em;
    }

    .icon-container {
      display: flex;
      width: 0.5em;
      margin-left: 0.5em;
    }
  }
}
