@import "constants";

@for $i from 1 through 4 {
  @keyframes animation_#{$i * 25} {
    from {
      width: 0%;
    }
    to {
      width: percentage(($i * 25)/100);
    }
  }
}

.progress-bar {
  width: 100%;
  display: flex;
  &__progress {
    border-radius: 0.5em;
    border: 1px solid $color2;
    flex: 1;
    z-index: 100;
    overflow: hidden;

    @for $i from 1 through 4 {
      &__#{$i * 25}.animate {
        background-color: $color3;
        animation-name: animation_#{$i * 25};
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        height: 100%;
        z-index: 200;
      }
    }
  }

  &__title {
    width: 5em;
  }
}
